<!DOCTYPE html>
<html>
    <head>
        <title>O hai! Create a new recipe!</title>
    </head>

    <body>
        <h1>New recipe:</h1>
        <form action='/recipes' method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name">
            <label for="ingredients">Ingredients:</label>
            <input type="text" name="ingredients">
            <label for="cook_time">Cook time:</label>
            <input type="text" name="cook_time">
            <input type="submit" name="Submit">
        </form>
    </body>
</html>